.App {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  text-align: center;
}

body{
  margin: 0px;
  padding: 0px;
  background-color:rgb(243, 235, 235);
  display: flex;
  justify-content: center;
}